*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	background: #0f172a;
	color: #e5e7eb;
	line-height: 1.6;
}
/*Hero*/
.hero{
	min-height: 100vh;
	background: linear-gradient(135deg, #000010, #0d707fa6);
	display: flex;
	flex-direction: column;
}
.navbar{
	padding: 20px 40px;
}
.logo{
	font-size: 28px;
	font-weight: 700;
	color: white;
}
.hero-content{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px;
	max-width: 700px;
}
.hero-content h2{
	font-size: 48px;
	margin-bottom: 20px;
	color: #ffffff;
}
.hero-content p{
	font-size: 18px;
	color: #f1f5f9;
}
/*sections*/

section{
	padding: 80px 40px;
	text-align: center;
}

section h2{
	font-size: 36px;
	margin-bottom: 20px;
	color: #38bdf8;
}
/*about*/
.about p,
.leadership p{
     max-width: 800px;
     margin: auto;
     font-size: 18px;
     color: #cbd5f5;
}
/* features*/
.features{
	background: linear-gradient(135deg, #000010, #0d707fa6);;
}
.feature-grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
	margin-top: 40px;
}
.feature-card{
	background: rgba(255, 255, 255, 0.08);
	backdrop-filter: blur(10px);
	padding: 30px;
	border-radius: 16px;
	transition: transform 0.3s, box-shadow 0.3s;
}
.feature-card:hover{
	transform: translateY(-10px);
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}
.feature-card h3{
	font-size: 22px;
	margin-bottom: 10px;
	color: #ffffff;
}
/*contact*/
.contact{
	background: linear-gradient(135deg, #000010, #0d707fa6);
	text-align: center;
}
.contact-links{
	display: flex;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
	margin: 30px 0;
}
.contact-links a{
	color: #38bdf8;
	text-decoration: none;
	font-size: 18px;
	border: 1px solid #38bdf8;
	padding: 10px 18px;
    border-radius: 30px;
    transition: all 0.3s;
}
.contact-links a:hover{
     background: linear-gradient(135deg, #000010, #0d707fa6);
     color: #020617;
}
@media(max-width: 900px){
	.feature-grid{
		grid-template-columns: repeat(2, 1fr);
	}
	.hero-content h2{
        font-size: 56px;
	}
}
@media(max-width: 600px){
	.feature-grid{
		grid-template-columns: 1fr;
	}
	section{
		padding: 40px 20px;
	}
	.hero-content{
		padding: 20px;
	}
	.hero-content h2{
		font-size: 30px;
	}
}
footer{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}