body{
	display: flex;
	justify-content: center;
	align-items:center;
	height: 100vh;
	background: #f2f2f2;
	font-family: Arial, sans-serif;
}
.calculator{
	background: #222;
	padding: 20px;
	border-radius: 10px;
	width: 280px;
}
#display{
	width: 90%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 22px;
    text-align: right;
    padding: 10px;
    color: #fff;
}
.buttons{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}
button{
	height: 50px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 5px;
}
button:hover{
	background-color: #ddd;
}
.equal{
	grid-row: span 2;
	background: orange;
}
.zero{
	grid-column: span 2;
}