*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Poppins',sans-serif;
}
body{
	background: linear-gradient(120deg,#3f2b96,#a8c0ff);
	color: #fff;
}
header{
	background: rgba(0, 0, 0, 0.2);
	padding: 15px 50px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
}
.logo{
	color: #fff;
	font-size: 24px;
}
.logo span{
	color: #ffd700;
}
.nav-links{
	display: flex;
	list-style: none;
	gap: 20px;
	justify-content: flex-end;
}
.nav-links a{
	color: white;
	text-decoration: none;
	font-weight: 500;
}
.nav-links a:hover{
     color: #ffd700;
}
.hero{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 20px;
}
.hero h1 span{
	color: #ffd700;
}
.btn{
	display: inline-block;
	background: #ffd700;
	color: #3f2b96;
	padding: 10px 20px;
	border-radius: 25px;
	text-decoration: none;
	margin-top: 15px;
	transition: 0.3s;
}
.btn:hover{
	background: white;
	color: #3f2b96;
}
.section-title{
	text-align: center;
	font-size: 2rem;
	margin: 60px 0 30px;
}
.about-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	padding: 0 40px;
}
.profile-pic{
	width: 200px;
	border-radius: 50%;
	border: 3px solid #ffd700;
}
.about-text{
	max-width: 600px;
	text-align: center;
}
.skills-grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}
.skill{
	background: rgba(255, 255, 255, 0.2);
	padding: 15px 25px;
	border-radius: 10px;
	font-weight: bold;
	transition: 0.3s;
}
.skill:hover{
	background: #ffd700;
	color: #3f2b96;
}
.project-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 25px;
	padding: 0 40px;
}
.project-card{
	background: rgba(255, 255, 255, 0.12);
	border-radius: 15px;
	overflow: hidden;
	text-align: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card img{
	width: 100%;
	height: 180px;
	object-fit: cover;
}
.project-card h3{
	margin: 15px 0 8px;
	color: #ffd700;
}
.project-card p{
	font-size: 0.95rem;
	padding: 0 15px 20px;
	color: #f1f1f1;
}

.edu-item{
	text-align: center;
	background: rgba(255, 255, 255, 0.1);
	padding: 20px;
	border-radius: 15px;
	width: 80%;
	margin: auto;
}
.contact-info{
	text-align: center;
	font-size: 1.1rem;
	margin-top: 20px;
}
.contact-info p{
	margin: 15px 0;
}

.contact-info a{
	color: #ffd700;
	text-decoration: none;
	font-weight: 500;
}

.contact-info a:hover{
	text-decoration: underline;
}

.resume {
    text-align: center;
    padding: 50px;
}
footer{
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}